*, *:focus, *:active, *:visited, *:hover {
    outline: none !important;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.colorful_4 {
    background-color: #f2f3f8;
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

body {
    background-color: #f2f3f8;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none !important;
}

.left-panel {
    position: fixed;
    width: 68px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #0a5b9a;
    text-align: center;
    padding: 20px 0;
    z-index: 3;
}

#logo {

}

#left-create-team {
    margin: 50px 0 0 16px;
    display: block;
    background-image: url("lib/heyling/create-team-active.png");
    width: 36px;
    height: 35px;
}

#left-create-team:hover {
    background-image: url("lib/heyling/create-team.png");
}

#left-create-job {
    margin: 31px 0 0 16px;
    display: block;
    background-image: url("lib/heyling/create-job-posting.png");
    width: 34px;
    height: 34px;
    background-position: 0;
    border-radius: 17px;
}

#left-create-job:hover {
    background-color: #074a7e;
}

#left-user {
    position: absolute;
    bottom: 15px;
    left: 22px;
    background-image: url("lib/heyling/user.png");
    display: block;
    width: 26px;
    height: 26px;
}

#user-logout {
    position: absolute;
    bottom: 100px;
    left: 22px;
    background-image: url("lib/heyling/logout.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: none;
    border-radius: 16px;
}

#user-logout:hover {
    background-color: #074a7e;
}

#user-edit {
    position: absolute;
    bottom: 60px;
    left: 22px;
    background-image: url("lib/heyling/user-edit.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

#user-edit:hover {
    background-color: #074a7e;
}

#left-user.open, #left-user:hover {
    background-image: url("lib/heyling/user-active.png");
}

#left-side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 68px;
    width: 235px;
    background-color: #0a62a2;
    z-index: 2;
}

.textslice-menu {
    margin: 13px auto 50px;
    width: 172px;
    background-image: url(lib/heyling/textslice.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 44px;
}

.textslice-menu img {
    float: right;
    margin: 13px -10px 0 0;
}

#left-side ul {
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0;
}

#left-dashboard {
    background-color: #f2f3f8;
    height: 44px;
    border-radius: 5px 0 0 5px;
    font-size: 13px;
    font-weight: 500;
    color: #0a62a2;
    display: block;
    line-height: 44px;
    padding-left: 50px;
    background-image: url("lib/heyling/dashboard.png");
    background-repeat: no-repeat;
    background-position: 15px center;
}

#left-dashboard.active {
    padding-left: 30px;
    background-color: #0a62a2;
    color: white;
    background-image: url("lib/heyling/dashboard_white.png");
    background-position: left center;
}

#left-teams {
    margin-top: 0;
    height: 50px;
    padding: 5px 0 0 30px;
    background-image: url("lib/heyling/teams.png");
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    font-size: 13px;
    line-height: 50px;
}

#left-side .separate {
    height: 2px;
}

#left-side .separate span {
    height: 2px;
    display: block;
    width: 180px;
    background-color: #387fb3;
}

.no-have {
    padding: 20px 0 0 10px;
    color: #ffffff;
    font-size: 12px;
}

.no-have a {
    text-decoration: underline;
}

.no-have-tmp {
    padding: 20px 0 0 10px;
    color: #8dc7f7;
    font-size: 12px;
}

.no-have-tmp a {
    color: white;
}

#main-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 303px;
    padding: 10px 30px;
    overflow: auto;
}

#main-content h2 {
    color: #0a62a2;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 0;
}

#main-content h6 {
    font-weight: 400;
    color: black;
    font-size: 13px;
    margin-top: 0;
}

.main-title {

}

#open-slide {
    background-image: url(lib/heyling/open-slide.png);
    width: 30px;
    height: 24px;
    position: absolute;
    display: block;
    top: 64px;
    left: 17px;
}

.row {
    clear: both;
}

.col {
    float: left;
}

.welcome-box {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(119, 119, 119, .5);
    min-height: 180px;
    width: 50%;
    border-left: 3px solid #0a62a2;
    background-image: url("lib/heyling/welcome.png ");
    background-repeat: no-repeat;
    background-position: 40px 50%;
}

.welcome-box div {
    padding: 0 20px 20px 220px;
    font-size: 13px;
}

.welcome-box h3 {
    font-size: 18px;
    color: #0a62a2;
}

#left-open-dashboard {
    background-color: #f2f3f8;
    border-radius: 5px 0 0 5px;
    height: 39px;
    line-height: 44px;
    margin-left: 10px;
    padding: 5px 0 0 0;
    margin-top: 42px;
    display: block;
    position: absolute;
    left: -100px;
}

.jobs-box {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(119, 119, 119, .5);
    min-height: 90px;
    width: 23%;
    margin-left: 2%;
    background-image: url("lib/heyling/jobs.png");
    background-repeat: no-repeat;
    background-position: 50% 33%;
    text-align: center;
    padding: 90px 0 0;
}

.applicants-box {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(119, 119, 119, .5);
    min-height: 90px;
    width: 22%;
    margin-left: 2%;
    background-image: url("lib/heyling/applicants.png");
    background-repeat: no-repeat;
    background-position: 50% 33%;
    text-align: center;
    padding: 90px 0 0;
}

.jobs-box h3, .applicants-box h3 {
    font-size: 18px;
    color: #0a62a2;
    margin-bottom: 3px;
}

.jobs-box span, .applicants-box span {
    font-size: 13px;
}

.dotted-separate {
    height: 1px;
    clear: both;
    padding: 15px 0;
    background-image: url("lib/heyling/litegrey.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

#main-content h4 {
    font-weight: 500;
    color: #0a62a2;
    text-align: center;
}

.empty-main {
    text-align: center;
    padding-top: 110px;
}

.center {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

.hide-first-post {
    max-width: 600px;
    margin: auto;
}

.hide-first-post .link-group-create, .hide-first-post .cr-new-job-posting {
    font-weight: 400;
    color: #0a62a2;
}

.btn {
    width: 174px;
    height: 34px;
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    padding: 0 0 0 20px;
    color: white;
    display: inline-block;
}

.btn-create-team {
    background-color: #08bcef;
    background-image: url("lib/heyling/teams.png");
    background-repeat: no-repeat;
    background-position: 15px center;
}

.btn-create-job-posting {
    background-color: #2170aa;
    background-image: url(lib/heyling/jp.png);
    background-repeat: no-repeat;
    background-position: 15px center;
}

.or {
    color: #2170aa;
    padding: 0 10px;
}

.hover-focus {
    background-image: url("lib/heyling/ok-check-sm.png");
    background-color: #efefef;
    background-repeat: no-repeat;
    background-position: right center;
}

.body-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("lib/heyling/bg.png");
    z-index: 3;
}

.create-team-popup {
    width: 370px;
    min-height: 300px;
    border-radius: 5px;
    background-color: white;
    z-index: 4;
    position: absolute;
    left: 51px;
    top: 44px;
}

.create-job-posting-popup {
    width: 370px;
    min-height: 300px;
    border-radius: 5px;
    background-color: white;
    z-index: 4;
    position: absolute;
    left: 49px;
    top: 128px;
}

.create-team-popup-active {
    background-image: url("lib/heyling/create-team-popup-active.png");
    width: 42px;
    height: 127px;
    position: absolute;
    z-index: 5;
    left: 10px;
    top: 64px;
}

.select-type {
    font-size: 13px;
    line-height: 31px;
    text-align: left;
    background-image: url("lib/heyling/up-arrow.png");
    background-repeat: no-repeat;
    background-position: right 14px;
    cursor: pointer;
}

.create-job-posting-popup-active {
    background-image: url("lib/heyling/create-job-posting-popup-active.png");
    width: 42px;
    height: 127px;
    position: absolute;
    z-index: 5;
    left: 8px;
    top: 128px;
}

.popup-title {
    background-color: #f2f3f8;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    font-weight: 500;
    color: #0a62a2;
    border-radius: 5px 5px 0 0;
}

.field-name {
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #42526e;
    text-align: left;
}

.input {
    position: relative;
}

.create-team-popup .instraction {
    min-height: 104px;
}

.instraction {
    padding: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #42526e;
    text-align: left;
}

.instraction b {
    color: #2170aa;
}

.buttons, .save_panel {
    background-color: #f2f3f8;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 0 0 5px 5px;
}

.save_panel {
    height: 48px;
    text-align: right;
    line-height: 48px;
    padding-left: 310px;
}

.input-field {
    border: #e5e7ed solid 1px;
    height: 31px;
    width: 295px;
    margin: 0 20px;
    border-radius: 16px;
    background-color: #f2f3f8;
    padding: 0 15px;
    position: relative;
}

.select-list {
    position: absolute;
    border: #e5e7ed solid 1px;
    top: -3px;
    width: 331px;
    left: 17px;
    min-height: 60px;
    height: auto;
    background-color: white;
    border-radius: 18px 18px 5px 5px;
    z-index: 3;
    padding-top: 34px;
}

.scroll-list {
    overflow-y: auto;
    max-height: 127px;
    overflow-x: hidden;
}

.select-list span {
    display: block;
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
}

.select-list span strong {
    color: #2170aa;
}

.first-span-job {
    border-bottom: #e5e7ed solid 1px;
    height: 28px;
    line-height: 34px;
    position: relative;
    padding-top: 0 !important;
}

.field-total-experience {
    border-bottom: #e5e7ed solid 1px;
    height: 28px;
    line-height: 34px;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    color: #2170aa;
    text-align: left;
    padding: 5px 0 5px 10px;
    cursor: pointer;
}

#extra_project, #extra_tx {
    height: 24px;
    padding: 0 10px;
    border-radius: 5px;
    width: 220px;
    border: lightgrey solid 1px;
    position: absolute;
    top: 4px;
}

#extra_project_submit, #extra_tx_submit {
    height: 24px;
    padding: 0 10px;
    border-radius: 5px;
    width: 50px;
    border: #2170aa solid 1px;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #2170aa;
    color: white;
    cursor: pointer;
}

#extra_tx {
    top: 7px;
}

#extra_tx_submit {
    top: 8px;
}

.select-list span:hover {
    background-color: #f2f3f8;
}

.popup-btn-cancel {
    display: inline-block;
    font-size: 13px;
    color: #2170aa;
    padding-right: 30px;
    background-image: url("lib/heyling/cancel.png");
    background-repeat: no-repeat;
    background-position: 49px 10px;
}

.popup-btn-create, .popup-btn-ok {
    display: inline-block;
    font-size: 13px;
    color: #2170aa;
    padding-left: 30px;
    background-image: url("lib/heyling/create.png");
    background-repeat: no-repeat;
    background-position: 0 10px;
}

.sp-btn-remove, .sp-btn-remove-dis {
    display: inline-block;
    font-size: 13px;
    color: #2170aa;
    padding-right: 60px;
    background-image: url("lib/heyling/trush.png");
    background-repeat: no-repeat;
    background-position: 135px 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sp-btn-remove-dis {
    background-image: url("lib/heyling/trush-dis.png");
    color: #878787;
    cursor: default;
}

.save_panel:hover .sp-btn-remove {
    color: #fd5b61;
    background-image: url("lib/heyling/trush-hover.png");
}

.bottom-btn {
    background-color: #2170aa;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    float: left;
    cursor: pointer;
}

.disabled-btn {
    background-color: #a9b9c6;
    cursor: default;
}

.buttons span, .save_panel span {
    padding: 0 12px;
    font-weight: 100;
}

#copy {
    display: block;
    position: absolute;
    color: white;
    background-color: #2170aa;
    top: 3px;
    bottom: 3px;
    line-height: 28px;
    padding: 0 20px;
    right: 24px;
    border-radius: 15px;
}

.copied, .areyousure {
    position: absolute;
    top: -30px;
    right: 20px;
    background-color: #0099cc;
    padding: 2px 15px;
    border-radius: 14px;
    color: white;
    font-size: 14px;
}

.areyousure {
    top: -70px;
    padding: 0 15px 25px;
}

.areyousure a {
    position: absolute;
    top: 25px;
    font-size: 14px;
    left: 70px;
}

.areyousure a:first-child {
    left: 23px;
}

.jp_title i p {
    position: absolute;
    top: calc(50% - 12px);
    left: 30px;
    background-color: #0099cc;
    padding: 6px 15px;
    border-radius: 14px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    width: 225px;
    height: auto;
    line-height: 23px;
    display: none;
    transform: translateY(-50%);
    margin-bottom: 10px;
}

.copied:after, .copied:before, .areyousure:after, .areyousure:before, .jp_title i p:after, .jp_title i p:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.jp_title i p:after, .jp_title i p:before {
    left: -14px;
    top: 50%;
    transform: rotate(90deg);
}

.copied:after, .areyousure:after {
    border-top-color: #0099cc;
    border-width: 7px;
    margin-left: -7px;
}

.copied:before, .areyousure:before {
    border-width: 7px;
    margin-left: -7px;
}

.jp_title i p:after {
    border-top-color: #0099cc;
    border-width: 7px;
    margin-top: -7px;
}

.jp_title i p:before {
    border-width: 7px;
    margin-top: -7px;
}

.jp_title i:hover p {
    display: block;
}

::-webkit-input-placeholder {
    color: red !important;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
:-moz-placeholder {
    color: red !important;
}

.ok-check {
    background-image: url("lib/heyling/ok-check.png");
    display: block;
    position: absolute;
    right: 140px;
    top: 11px;
    width: 16px;
    height: 13px;
}

.no-triangle {
    background-image: url("lib/heyling/no-triangle.png");
    display: block;
    position: absolute;
    right: 140px;
    top: 9px;
    width: 16px;
    height: 16px;
}

.team_name {
    color: white;
    font-size: 13px;
    padding: 8px 30px 8px 20px;
    margin: 2px 12.5px 2px 0;
    cursor: pointer;
    position: relative;
    word-wrap: break-word;
}

.team_name:hover {
    background-color: #0c558e;
    border-radius: 3px;
}

.team_name > a {
    display: none;
    position: absolute;
    top: 7px;
    right: 5px;
}

.team_name:hover > a {
    display: block;
}

.main-filters ul, .summary-filters ul {
    display: table;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

.main-filters ul li, .summary-filters ul li {
    display: table-cell;
    font-size: 13px;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    position: relative;
}

.filter-projects {
    width: 70px;
}

.filter-primary-skills {
    width: 100px;
}

.filter-skills, .filter-summary-skills {
    padding-left: 20px;
    width: 50px;
}

.filter-projects-input > p, .filter-ps-input > p, .filter-skills-input > p, .filter-summary-skills-input > p, .filter-hidden-input > p {
    position: absolute;
    width: 100%;
    top: 22px;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px #0a62a2;
    background-color: white;
    border-radius: 3px;
    display: none;
    z-index: 2;
}

.filter-hidden-input > p {
    min-height: 64px;
}

.filter-projects-input > p > a, .filter-ps-input > p > a, .filter-skills-input > p > a, .filter-summary-skills-input > p > a, .filter-hidden-input > p > a {
    display: block;
    padding: 0 15px;
}

.filter-projects-input > p > a:hover, .filter-ps-input > p > a:hover, .filter-skills-input > p > a:hover, .filter-summary-skills-input > p > a:hover, .filter-hidden-input > p > a:hover {
    background-color: #e2e4ea;
}

.filter-skills-input, .filter-summary-skills-input, .filter-hidden-input {
    width: 190px;
}

.filter-hidden-input {
    width: 100px;
}

.filter-skills-input div, .filter-summary-skills-input div, .filter-projects-input div, .filter-ps-input div, .filter-hidden-input div {
    background-color: white;
    border: #e2e4ea solid 1px;
    border-radius: 3px;
    min-width: 90px;
    max-width: 300px;
    padding: 0 5%;
    background-image: url("lib/heyling/up-arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.filter-hidden-input div {
    position: absolute;
    top: 0;
    right: 0;
}

.filter-search, .filter-summary-search {
    padding-left: 30px;
}

.filter-hidden {
    text-align: right;
    padding-right: 10px;
}

.filter-search input, .filter-summary-search input {
    height: 32px;
    width: 250px;
    padding: 0 10px;
    border: #e2e4ea solid 1px;
    border-radius: 3px;
}

.filter-search a, .filter-summary-search a {
    position: absolute;
    top: 5px;
    left: 280px;
}

.filter-search input::-webkit-input-placeholder, .filter-summary-search input::-webkit-input-placeholder {
    color: grey !important;
}

#extra_tx::-webkit-input-placeholder {
    color: grey !important;
}

.filter-search input::-webkit-input-placeholder,
.filter-search input:-ms-input-placeholder,
.filter-search input::-moz-placeholder,
.filter-search input:-moz-placeholder,
.filter-summary-search input::-webkit-input-placeholder,
.filter-summary-search input:-ms-input-placeholder,
.filter-summary-search input::-moz-placeholder,
.filter-summary-search input:-moz-placeholder {
    color: grey !important;
}

#extra_tx::-webkit-input-placeholder,
#extra_tx:-ms-input-placeholder,
#extra_tx::-moz-placeholder,
#extra_tx:-moz-placeholder {
    color: grey !important;
}

.main-list {
    overflow: auto;
}

.main-list > div {
    width: 50%;
    -webkit-box-shadow: 0 0 3px 0 rgba(153, 153, 153, .5);
    -moz-box-shadow: 0 0 3px 0 rgba(153, 153, 153, .5);
    box-shadow: 0 0 3px 0 rgba(153, 153, 153, .5);
    background-color: white;
    border-radius: 3px;
    height: 120px;
    float: left;
    margin: 0 10px 20px 0;
}

.ml {
    width: calc(50% - 40px) !important;
    float: right !important;
}

.top-section {
    border-bottom: #e2e4ea solid 1px;
    padding: 10px 15px;
}

.top-section span a {
    color: #0a62a2;
    font-weight: bold;
    border-bottom: solid 2px #0a62a2;
}

.top-section {
    font-size: 14px;
    color: #0a62a2;
}

.top-section > div {
    color: grey;
    font-size: 13px;
    padding-top: 8px;
}

.top-section > div > b {
    color: black;
    font-weight: 400;
}

.main-list span {
    float: right;
    color: grey;
    font-size: 13px;
}

.main-list date {
    float: right;
    color: grey;
    font-size: 13px;
}

.main-list mail {
    float: right;
    color: black;
    font-size: 13px;
}

.bottom-section {
    background-color: #fafafc;
    height: 24px;
    border-radius: 0 0 5px 5px;
    padding: 24px 15px 11px;
    font-size: 13px;
    overflow: hidden;
    position: relative;
}

.bottom-section i {
    display: block;
    border-radius: 14px;
    border: #e2e4ea solid 1px;
    height: 28px;
    float: right;
    line-height: 28px;
    position: relative;
    top: -10px;
    padding: 0 15px;
    background-color: white;
    margin-left: 6px;
    font-style: normal;
    color: #0a62a2;
    margin-bottom: 20px;
}

.bottom-section i:last-child {
    margin-left: 30px;
}

.bottom-section dd {
    position: absolute;
    left: -25px;
}

.bottom-section em {
    float: right;
    font-style: normal;
    font-weight: 500;
    color: #0a62a2;
    margin-top: -2px;
    margin-left: 10px;
}

red {
    color: red;
}

.loader {
    border: 16px solid #e2e4ea;
    border-top: 16px solid #0a62a2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.center-loader {
    text-align: center;
    margin: auto;
    display: table;
}

.jp_header ul {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 70px;
    border: #e2e4ea solid 1px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 4px;
}

.jp_header {
    padding: 10px 0 20px;
    width: calc(100% - 132px);
    float: right;
}

.jp_header ul li {
    display: table-cell;
    padding: 10px 15px;
}

.jp_header ul li b {
    color: #0a62a2;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding-top: 5px;
    word-break: break-all;
}

.jp_header ul li b input {
    color: #0a62a2;
    height: 28px;
    border: #dedede solid 1px;
    padding: 0 10px;
    border-radius: 3px;
    width: 90%;
}

.jp_header_pn {
    width: 18%;
}

.jp_header_jpn {
    width: 18%;
    border-left: #e2e4ea solid 1px;
    border-right: #e2e4ea solid 1px;
}

.jp_header_sl {
    width: 18%;
    border-right: #e2e4ea solid 1px;
}

.jp_header_sl span {
    background-image: url("lib/heyling/arrow_down.png");
    background-repeat: no-repeat;
    background-position: 95%;
    color: #0a62a2;
    height: 28px;
    border: #dedede solid 1px;
    padding: 0 10px;
    border-radius: 3px;
    width: 90%;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 28px;
    cursor: pointer;
}

.jp_header_tx {
    width: 18%;
}

.jp_header_e {
    width: 18%;
    padding: 10px 5px !important;
}

.jp_header_e p {
    background-color: #e6eff6;
    border-radius: 3px;
    margin: 0 !important;
    padding: 10px !important;
}

.edit_jp_header {
    padding: 0 !important;
    position: relative;
}

.edit_jp_header a {
    position: absolute;
    right: 0;
    top: 5px;
    margin: auto;
    background-image: url("lib/heyling/edit.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 78px;
    height: 68px;
}

.edit_jp_header input {
    width: 78px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: left 50%;
    border: none;
    background-color: white;
    padding-left: 25px;
    text-align: left;
    position: absolute;
    cursor: pointer;
}

.jp_header_save {
    background-image: url("lib/heyling/create.png");
    color: #0a62a2;
    right: 10px;
    top: 12px;
}

.jp_header_cancel {
    background-image: url("lib/heyling/cancel.png");
    color: #0a62a2;
    right: 10px;
    bottom: 12px;
}

.jp {
    display: table;
    width: 100%;
}

.jp_left {
    width: 100px;
    display: table-cell;
    vertical-align: top;
    padding-bottom: 30px;
}

.jp_left span {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("lib/heyling/uncheck.png");
}

.jp_left a {
    display: block;
    font-size: 13px;
    margin-bottom: 20px;
    border: #e2e4ea solid 1px;
    border-radius: 4px;
    color: #42526e;
    text-align: center;
    padding: 0 0 5px 0;
    background-color: white;
    position: relative;
}

.jp_left a div {
    background-repeat: no-repeat;
    background-position: 50% 25px;
    width: 100px;
    height: 70px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.jp_1 div {
    background-image: url("lib/heyling/jp_1.png");
}

.jp_2 div {
    background-image: url("lib/heyling/jp_2.png");
}

.jp_3 div {
    background-image: url("lib/heyling/jp_3.png");
}

.jp_4 div {
    background-image: url("lib/heyling/jp_4.png");
}

.jp_5 div {
    background-image: url("lib/heyling/jp_5.png");
}

.jp_6 div {
    background-image: url("lib/heyling/jp_6.png");
}

.jp_1.active div {
    background-color: #3399cc;
    background-image: url("lib/heyling/jp_w1.png");
}

.jp_2.active div {
    background-color: #3399cc;
    background-image: url("lib/heyling/jp_w2.png");
}

.jp_3.active div {
    background-color: #3399cc;
    background-image: url("lib/heyling/jp_w3.png");
}

.jp_4.active div {
    background-color: #3399cc;
    background-image: url("lib/heyling/jp_w4.png");
}

.jp_5.active div {
    background-color: #3399cc;
    background-image: url("lib/heyling/jp_w5.png");
}

.jp_6.active div {
    background-color: #3399cc;
    background-image: url("lib/heyling/jp_w6.png");
}

.jp_left a.active span {
    background-image: url("lib/heyling/check.png");
}

.jp_right {
    display: table-cell;
    padding-left: 30px;
    padding-bottom: 50px;
}

.empty_jp {
    text-align: center;
    padding-top: 150px;
}

.empty_jp h3 {
    color: #0a62a2;
    font-weight: 500;
    font-size: 16px;
}

.empty_jp h5 {
    font-weight: 300;
    font-size: 17px;
    max-width: 720px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.jp_form_1, .jp_form_2, .jp_form_3, .jp_form_4, .jp_form_5, .jp_form_6 {
    margin-bottom: 15px;
    display: none;
    max-width: 720px;
}

.jp_form_1 .jp_footer i.yellow-bg, .jp_form_3 .jp_footer i.yellow-bg {
    animation: colorchange 1s;
    -webkit-animation: colorchange 1s;
}

@keyframes colorchange {
    0% {
        background: #ffda84;
    }
    100% {
        background: white;
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: #ffda84;
    }
    100% {
        background: white;
    }
}

.jp_title {
    height: 40px;
    background-color: white;
    border-radius: 4px 4px 0 0;
    border: solid 1px #e2e4ea;
    background-image: url("lib/heyling/arrow_down.png");
    background-repeat: no-repeat;
    background-position: 15px 50%;
    position: relative;
}

.jp_title.active {
    background-image: url("lib/heyling/arrow_right.png");
}

.jp_title span {
    display: block;
    float: left;
    margin: 1px 80px 0 40px;
    border-top: solid 2px #0a62a2;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 700;
    line-height: 38px;
    color: #0a62a2;
}

.jp_title.active span {
    border-top: solid 2px white;
}

.jp_title i {
    display: block;
    background-image: url("lib/heyling/tooltip.png");
    width: 17px;
    height: 17px;
    margin-left: 180px;
    margin-top: 12px;
    z-index: 1;
    position: absolute;
}

.jp_body {
    background-color: white;
    border-left: solid 1px #e2e4ea;
    border-right: solid 1px #e2e4ea;
    padding: 10px 25px;
    font-size: 13px;
    color: #0a5b9a;
    font-weight: 500;
    min-height: 65px;
}

.div-select, .div-os-select, .select-education, .select-lng {
    position: relative;
}

.jp_footer {
    background-color: #fbfbfd;
    border: solid 1px #e2e4ea;
    border-radius: 0 0 4px 4px;
    padding: 5px 25px 10px;
    overflow: auto;
}

.jp_footer i {
    display: inline-block;
    border-radius: 14px;
    border: #e2e4ea solid 1px;
    height: 28px;
    line-height: 28px;
    padding: 0 25px 0 15px;
    background-color: white;
    margin-left: 6px;
    font-style: normal;
    color: #0a62a2;
    position: relative;
    font-size: 13px;
    margin-top: 5px;
}

.jp_footer i img {
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
}

div.select {
    float: left;
    height: 32px;
    border-radius: 3px;
    border: solid 1px #e2e4ea;
    width: 40%;
    margin: 10px 20px 10px 0;
    font-size: 13px;
    color: #0a62a2;
    line-height: 32px;
    padding: 0 15px;
    background-image: url("lib/heyling/up-arrow.png");
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
}

input.select {
    float: left;
    height: 32px;
    border-radius: 3px;
    border: solid 1px #e2e4ea;
    width: 90%;
    margin: 10px 20px 10px 0;
    font-size: 13px;
    color: #0a62a2;
    padding: 0 15px;
}

.options {
    position: absolute;
    border: solid 1px #0a62a2;
    top: 44px;
    left: 0;
    width: 100%;
    background-color: white;
    max-height: 216px;
    overflow: auto;
    z-index: 2;
    border-radius: 2px;
    max-width: 580px;
}

.options a {
    display: block;
    padding: 5px 15px;
    border-bottom: solid 1px #dedede;
}

.option-up, .option-ed, .option-lng {
    position: absolute;
    border: solid 1px #0a62a2;
    top: 45px;
    left: 0;
    width: 50%;
    background-color: white;
    max-height: 181px;
    overflow: auto;
    z-index: 2;
    border-radius: 2px;
}

#ps_years_experience, #os_years_experience {
    position: absolute;
    z-index: 2;
    background-color: white;
    display: none;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

.option-up a, .option-ed a, .option-lng a {
    display: block;
    padding: 5px 15px;
    border-bottom: solid 1px #dedede;
}

.option-up a:hover, .option-ed a:hover, .option-lng a:hover {
    background-color: #edeef1;
}

.options a:hover {
    background-color: #edeef1;
}

.suggestions {
    padding: 10px 0 0;
}

.suggestions span {
    padding: 5px 15px;
    background-color: #edeef1;
    color: grey;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 5px;
}

.question-input, .requirement-input {
    height: 32px;
    border-radius: 3px;
    border: solid 1px #e2e4ea;
    width: 80%;
    padding: 0 15px;
    margin: 8px 0 3px;
    float: left;
}

.question-input::-webkit-input-placeholder, .requirement-input::-webkit-input-placeholder, input.select::-webkit-input-placeholder {
    color: grey !important;
}

.question-input::-webkit-input-placeholder,
.question-input:-ms-input-placeholder,
.question-input::-moz-placeholder,
.question-input:-moz-placeholder,
input.select::-webkit-input-placeholder,
input.select:-ms-input-placeholder,
input.select::-moz-placeholder,
input.select:-moz-placeholder,
.requirement-input::-webkit-input-placeholder,
.requirement-input:-ms-input-placeholder,
.requirement-input::-moz-placeholder,
.requirement-input:-moz-placeholder {
    color: grey !important;
}

.jp_footer_empty {
    height: 10px;
    border-left: solid 1px #e2e4ea;
    border-right: solid 1px #e2e4ea;
    border-bottom: solid 1px #e2e4ea;
    border-radius: 0 0 4px 4px;
    background-color: white;
}

.add-btn {
    width: 72px;
    height: 32px;
    display: block;
    color: white;
    font-size: 13px;
    text-align: center;
    background-color: #0a62a2;
    float: left;
    line-height: 32px;
    border-radius: 3px;
    margin: 8px 0 0 12px;
}

.save_panel {
    position: fixed;
    bottom: 0;
    height: 48px;
    width: calc(100% - 310px);
    background-color: white;
    left: 0;
    -webkit-box-shadow: 0 -5px 10px -5px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 -5px 10px -5px rgba(51, 51, 51, 0.5);
    box-shadow: 0 -5px 10px -5px rgba(51, 51, 51, 0.5);
}

.question-error::-webkit-input-placeholder {
    color: red !important;
}

.question-error::-webkit-input-placeholder,
.question-error:-ms-input-placeholder,
.question-error::-moz-placeholder,
.question-error:-moz-placeholder {
    color: red !important;
}

.qr-txt {
    padding: 10px 0;
    color: black;
    clear: both;
    border-bottom: solid 1px #edeef1;
    font-weight: 400;
    position: relative;
}

.qr-txt img {
    cursor: pointer;
    float: right;
    margin: 4px;
    display: none;
}

.qr-txt:hover img, .qr-txt:hover .qr-sort {
    display: block;
}

.active_job_posting {
    display: block;
    margin: 10px 0 0 0;
    background-color: #f2f3f8;
    border-radius: 5px 0 0 5px;
    padding: 12px 10px 12px 30px;
    font-size: 14px;
    color: #0a62a2;
    background-image: url("lib/heyling/left-arrow.png");
    background-repeat: no-repeat;
    background-position: 12px 50%;
    position: relative;
}

.active_job_posting span {
    position: absolute;
    width: 30px;
    height: 40px;
    top: 0;
    left: 0;
}

.closed_job_postings {
    background-image: url(lib/heyling/jp.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    display: block;
    margin: 10px 10px 10px 0;
    padding: 12px 5px 12px 50px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
}

.closed_job_postings:hover {
    background-color: #0a5b9a !important;
}

.closed_job_postings.active {
    background-color: #4486b8;
}

.closed_job_postings img {
    float: right;
    margin: 3px 12.5px 0 0;
}

.remove_project {
    display: block;
    padding: 0 5px 0 12px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    background-color: #4486b8;
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 178px;
    height: 42px;
    line-height: 42px;
}

.remove_project img {
    float: right;
    margin: 12px 5px 0 0;
}

.remove_project:hover {
    background-color: #fd5b61;
}

.white-link {
    display: block;
    color: white;
    padding: 12px 10px 12px 15px;
    font-size: 13px;
    margin-right: 10px;
    word-wrap: break-word;
}

.white-link.active {
    background-color: #0a5b9a;
    border-radius: 5px;
}

.for-white-link {
    height: 260px;
}

.with-scroll, .for-white-link {
    background-image: url("lib/heyling/180.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}

.with-scroll, .for-white-link {
    overflow-x: hidden;
    overflow-y: auto;
}

.with-scroll::-webkit-scrollbar,
.for-white-link::-webkit-scrollbar,
.option-up::-webkit-scrollbar,
.option-ed::-webkit-scrollbar,
.scroll-list::-webkit-scrollbar,
.filter-projects-input p::-webkit-scrollbar,
.filter-skills-input p::-webkit-scrollbar,
.q-ac::-webkit-scrollbar,
.middle-sector-open-3::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.with-scroll::-webkit-scrollbar-track,
.for-white-link::-webkit-scrollbar-track,
.option-up::-webkit-scrollbar-track,
.option-ed::-webkit-scrollbar-track,
.scroll-list::-webkit-scrollbar-track,
.filter-projects-input p::-webkit-scrollbar-track,
.filter-skills-input p::-webkit-scrollbar-track,
.q-ac::-webkit-scrollbar-track,
.middle-sector-open-3::-webkit-scrollbar-track {
    background-color: #0a62a2;
}

.with-scroll::-webkit-scrollbar-thumb,
.for-white-link::-webkit-scrollbar-thumb,
.option-up::-webkit-scrollbar-thumb,
.option-ed::-webkit-scrollbar-thumb,
.scroll-list::-webkit-scrollbar-thumb,
.filter-projects-input p::-webkit-scrollbar-thumb,
.filter-skills-input p::-webkit-scrollbar-thumb,
.q-ac::-webkit-scrollbar-thumb,
.middle-sector-open-3::-webkit-scrollbar-thumb {
    background-color: #0099cc;
}

.personal_page h1 {
    color: #0a62a2;
    font-size: 16px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 0;
    line-height: 30px;
}

.personal_page h1 img {
    position: absolute;
    left: 0;
    cursor: pointer;
}

.personal_page h1 span {
    position: absolute;
    right: 0;
    display: block;
    background-image: url("lib/heyling/word.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 90px;
    height: 30px;
    top: 0;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.personal_page p {
    font-size: 13px;
    font-weight: 400;
}

.personal_page h2 {
    background-image: url(lib/heyling/liteblue.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.percent-white-box {
    padding: 7px;
    margin-right: 10px;
    background-color: #f2f3f8;
    color: white;
    font-weight: bold;
    border: solid 1px #dde0e5;
    border-radius: 3px;
    min-width: 52px;
    display: inline-block;
    text-align: center;
}

.percent-blue-box {
    padding: 8px;
    margin-right: 10px;
    background-color: #435271;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    min-width: 52px;
    display: inline-block;
    text-align: center;
}

.personal_page h2 span {
    font-size: 15px;
    background-color: #f2f3f8;
    padding-right: 15px;
    position: relative;
    bottom: -3px;
}

.personal_page .qa {
    font-size: 13px;
    padding: 10px 0;
    color: #435271;
    line-height: 1.5;
}

.personal-title {
    font-size: 13px;
    color: #777a8b;
    padding-top: 15px;
    width: 160px;
}

.personal-50, .personal-33, .personal-25, .personal-100 {
    font-size: 14px;
    color: #000000;
    padding-top: 15px;
    width: 50%;
}

.form-field {
    clear: both;
    max-width: 500px;
    padding: 0 0 0 150px;
}

.form-field label {
    display: block;
}

#update-profile, #update-password, #change-password {
    max-width: 137px;
    border-color: #0a62a2;
    background-color: #0a62a2;
    color: white;
    cursor: pointer;
}

.change_password {
    display: none;
}

.personal-33 {
    width: 33.33333%;
}

.personal-25 {
    width: 25%;
}

.personal-100 {
    width: 100%;
}

.personal-ps {
    background-color: #0099cc;
    color: white;
    width: max-content;
    margin: 0 6px 3px 0;
    border-radius: 3px;
    padding: 8px 15px;
    display: inline-block;
}

span.personal-ps {
    margin-right: 5px;
    display: block;
    float: left;
}

span.personal-ps.no-style {
    margin-right: 5px;
    display: block;
    float: left;
    font-size: 13px;
    color: #777a8b;
    background: transparent;
}

.personal-result {
    padding-top: 15px;
}

.personal-result > div {
    font-size: 13px;
    color: #435271;
    font-weight: bold;
    padding: 10px 30px 10px 0;
}

.personal-total {
    padding-top: 25px;
    text-align: right;
    font-size: 13px;
}

.personal-title > div {
    padding: 10px 0;
}

.row-tbl {
    display: table;
    width: 100%;
}

.col-tbl {
    display: table-cell;
}

.personal-name-email p {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    line-height: 50px;
}

.personal-name-email i {
    font-weight: 300;
    font-style: normal;
}

.word-pdf {
    margin: 10px 20px 0 0;
    float: left;
}

.msg-center {
    text-align: center;
    max-width: 450px;
    border: solid 1px #f9941e;
    border-radius: 20px;
    background-color: #ffffff;
    color: black;
    font-size: 15px;
    margin: 20px 0;
    padding-left: 30px !important;
    background-image: url("lib/heyling/i.png");
    background-repeat: no-repeat;
    background-position: 20px 50%;
}

.summary_report > h2 {
    color: #0a62a2;
    font-size: 16px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 0;
    line-height: 30px;
}

.summary_report > h2 img {
    position: absolute;
    left: 0;
    cursor: pointer;
}

.summary_report > h2 > div {
    position: absolute;
    right: 0;
    display: block;
    cursor: pointer;
    top: 0;
    font-size: 13px;
    width: 300px;
}

.summary_report > h2 > div > a {
    display: block;
    position: absolute;
    background-color: white;
    text-align: center;
    height: 24px;
    border-radius: 13px;
    border: solid 1px #dedede;
    line-height: 24px;
}

.asr {
    width: 140px;
}

.asbr {
    width: 170px;
    right: 0;
}

.summary_report > h2 > div > a.active {
    background-color: #0a62a2;
    color: white;
    z-index: 2;
    border: solid 1px #0a62a2;
}

.div-breakdown-report {
    display: none;
}

.top-sector span {
    width: 42px;
    height: 19px;
    text-align: center;
    color: white;
    font-weight: bold;
    display: block;
    background-color: #0a62a2;
    border-radius: 3px;
    margin: 0 6px 0 6px;
    padding-top: 6px;
    float: left;
}

.top-sector strong {
    color: #0a62a2;
    font-weight: bold;
}

.middle-sector {
    border-bottom: solid 1px #dedede;
    height: 108px;
}

.middle-sector-1 {
    width: 85px;
    float: left;
    padding: 5px;
    height: 98px;
    border-right: solid 1px #dedede;
}

.middle-sector-1 > div > span {
    width: 45px;
    height: 19px;
    display: block;
    padding-top: 6px;
    float: left;
    background-color: #526992;
    color: white;
    border-radius: 3px;
    text-align: center;
    font-size: 10px;
    word-spacing: -2px;
    margin: 0 5px 10px 0;
}

.middle-sector-1 > div:first-child {
    border-bottom: solid 1px #dedede;
    font-size: 11px;
    padding: 10px 0;
    line-height: 11px;
}

.middle-sector-1 > div:nth-child(2) {
    font-size: 11px;
    padding: 10px 0 0 0;
}

.middle-sector-2 {
    font-size: 11px;
    padding: 0 5px;
    float: left;
    width: 219px;
}

.middle-sector-2 hr {
    padding: 0;
    margin: 4px 0;
    border: none;
    height: 1px;
    border-bottom: solid 1px #dedede;
}

.middle-sector-2 > div {
    padding-left: 5px;
}

.middle-sector-2 b {
    color: #526992;
}

.opened-jd {
    position: fixed;
    width: auto;
    min-height: 175px;
    left: 303px;
    right: 0;
    bottom: -200px;
    background-color: white;
}

.title-line {
    min-height: 42px;
    background-color: #2e83c0;
    color: white;
    padding: 15px 10px 0 20px;
    font-size: 13px;
}

.title-line span {
    padding: 5px 10px;
    background-color: white;
    color: #2e83c0;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 10px;
}

.title-line i {
    font-style: normal;
    padding: 0 10px;
}

.title-line img {
    position: relative;
    top: 5px;
    cursor: pointer;
}

.title-line a {
    display: block;
    height: 23px;
    width: 23px;
    float: right;
    background-image: url("lib/heyling/top-line-close.png ");
    margin: 2px 20px 0 0;
}

.middle-sector-open {
    padding: 5px;
}

.middle-sector-open-1 {
    width: 85px;
    float: left;
    padding: 5px;
    height: 98px;
    border-right: solid 1px #dedede;
}

.middle-sector-open-1 > div > span {
    width: 45px;
    height: 19px;
    display: block;
    padding-top: 6px;
    float: left;
    background-color: #526992;
    color: white;
    border-radius: 3px;
    text-align: center;
    font-size: 10px;
    word-spacing: -2px;
    margin: 0 5px 10px 0;
}

.middle-sector-open-1 > div:first-child {
    border-bottom: solid 1px #dedede;
    font-size: 11px;
    padding: 10px 0;
    line-height: 11px;
}

.middle-sector-open-1 > div:nth-child(2) {
    font-size: 11px;
    padding: 10px 0 0 0;
}

.middle-sector-open-2 {
    font-size: 13px;
    padding: 0 5px;
    float: left;
    width: 50%;
}

.middle-sector-open-2 hr {
    padding: 0;
    margin: 4px 0;
    border: none;
    height: 1px;
    border-bottom: solid 1px #dedede;
}

.middle-sector-open-2 > div {
    padding: 5px;
}

.middle-sector-open-2 b {
    color: #526992;
}

.middle-sector-open em {
    font-style: normal;
    color: #0a62a2;
    font-weight: 500;
}

.middle-sector-open i {
    font-style: normal;
    padding: 0 0 0 5px;
}

.middle-sector-open-3 {
    font-size: 13px;
    padding: 0 5px;
    float: left;
    width: calc(50% - 120px);
    overflow: auto;
    max-height: 110px;
}

.middle-sector-open-3 h6 {
    margin: 0 0 5px 0;
    color: #0a62a2 !important;
    font-weight: 500;
}

.ms-q {
    font-size: 14px;
    color: #172b4d;
}

.ms-a {
    color: grey;
    font-size: 14px;
    padding-left: 15px;
}

.div-breakdown-report > table > tbody > tr > th {
    color: #0a62a2;
    font-weight: 500;
    height: 40px;
    border-bottom: solid 1px #dedede;
}

.div-breakdown-report > table {
    border: solid 1px #dedede;
    font-size: 13px;
    background-color: white;
    width: 100%;
    max-width: 100%;
}

.div-breakdown-report > table > tbody > tr > td {
    padding: 5px 10px;
    height: 30px;
    color: #42526e;
    border-bottom: solid 1px #dedede;
}

.div-breakdown-report > table > tbody > tr > th:nth-child(1) {
    width: 175px;
    text-align: left;
    padding-left: 10px;
}

.div-breakdown-report > table > tbody > tr > th:nth-child(2),
.div-breakdown-report > table > tbody > tr > th:nth-child(3),
.div-breakdown-report > table > tbody > tr > th:nth-child(4) {
    text-align: center;
    border-left: solid 1px #dedede;
}

.div-breakdown-report > table > tbody > tr > th:nth-child(2) {
    width: 75px;
}

.div-breakdown-report > table > tbody > tr > th:nth-child(3) {
    width: 85px;
}

.div-breakdown-report > table > tbody > tr > th:nth-child(4) {
    width: 165px;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(2),
.div-breakdown-report > table > tbody > tr > td:nth-child(3),
.div-breakdown-report > table > tbody > tr > td:nth-child(4) {
    text-align: center;
    color: #42526e;
    border-left: solid 1px #dedede;
}

.div-breakdown-report > table > tbody > tr:last-child > td {
    background-color: #f8f9fb;
    height: 0 !important;
    border-bottom: none;
    border-top: solid 1px #dedede;
}

.empty-rowspan {
    background-color: white;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-bottom: none !important;
    width: 1px;
    font-size: 0 !important;
    padding: 0 !important;
}

.div-breakdown-report table table td:empty:before, .div-summary-report td:empty:before {
    content: " - ";
}

.div-breakdown-report table tr th {
    background-color: #f7f7f7;
}

.with-white-td {
    width: 60%;
    margin-top: 20px;
    font-size: 13px;
    min-width: 580px;
}

.with-white-td td {
    background-color: white;
    border-top: solid 5px #f2f3f8;
    border-bottom: solid 5px #f2f3f8;
}

.with-white-td td:nth-child(1) {
    width: 12%;
    padding: 7px 15px;
}

.with-white-td td:nth-child(2) {
    width: 32%;
}

.with-white-td td:nth-child(3) {
    width: 32%;
}

.with-white-td td:nth-child(4) {
    width: 24%;
}

.with-white-td td span {
    color: #172b4d;
}

.with-white-td td:empty:before {
    content: '-';
}

.white-total, .grey-total {
    border: solid 1px #dde0e5;
    padding: 7px 10px;
    border-radius: 3px;
    display: block;
    width: max-content;
    text-align: center;
    min-width: 50px;
}

.white-total:empty:before, .white-total b:empty:before {
    content: '-';
}

#hide-js {
    position: relative;
}

.hide-js, .hide-js2 {
    position: absolute;
    height: 30px;
    background-color: white;
    bottom: 0;
    width: 100px;
}

.hide-js {
    left: 0;
}

.hide-js2 {
    right: 0;
    height: 30px;
}

.no-comma em:last-child {
    display: none;
}

.grey-total {
    background-color: #f2f3f8;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) {
    border-bottom: none;
    padding: 0;
    vertical-align: top;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div {
    overflow-x: scroll;
    overflow-y: auto;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div > table {
    overflow: auto;
    width: 100%;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div > table th {
    min-width: 70px;
    color: #0a62a2;
    font-weight: 500;
    height: 40px;
    border-bottom: solid 1px #dedede;
    border-right: solid 1px #dedede;
    padding: 0 5px;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div > table th:last-child {
    border-right: none;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div > table td {
    text-align: center;
    height: 40px;
    border-right: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div > table td:last-child {
    border-right: none;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div::-webkit-scrollbar {
    width: 2px;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div::-webkit-scrollbar-track {
    background: white;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div::-webkit-scrollbar-thumb {
    background: #9dc0da;
}

.div-breakdown-report > table > tbody > tr > td:nth-child(6) > div::-webkit-scrollbar-thumb:hover {
    background: #9dc0da;
}

#main-content > div.summary_report > div.div-summary-report > div > div.middle-sector > div.middle-sector-2 > div > b {
    float: right;
    padding-right: 5px;
}

.success, .error, .warning {
    position: fixed;
    z-index: 999999;
    width: 380px;
    height: 38px;
    border-radius: 19px;
    top: -200px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    color: white;
    line-height: 38px;
    background-repeat: no-repeat;
    background-position: 10px 8px;
    padding-left: 20px;
}

.success img, .error img, .warning img {
    float: right;
    margin-right: 14px;
    margin-top: 14px;
}

.success {
    background-color: #88c550;
    background-image: url("lib/heyling/msg-success.png");
}

.error {
    background-color: #e36c6c;
}

.warning {
    background-color: #77b5e3;
}

.left-teams-pointer {
    cursor: pointer;
}

.div-summary-report table {
    width: 100%;
    margin-top: 20px;
}

.div-summary-report table th {
    font-size: 13px;
    color: #0a5b9a;
    font-weight: 500;
    border-top: solid #dedede 1px;
    border-bottom: solid #dedede 1px;
    border-right: solid #dedede 1px;
    height: 40px;
    background-color: #f7f7f7;
}

.div-summary-report table th:first-child {
    border-left: solid #cecdcc 1px;
    border-right-color: transparent;
    text-align: left;
    padding-left: 10px;
}

.div-summary-report table th:nth-child(2) {
    text-align: right;
    padding-right: 10px;
    font-weight: 400;
    width: 50px;
}

.class-hide-row {
    display: none;
}

.div-summary-report table .td > td:nth-child(8), .div-summary-report table .td > td:nth-child(9), .div-summary-report table .td > td:nth-child(10) {
    text-align: center;
    width: 15px;
    cursor: pointer;
}

.div-summary-report table .td > td:nth-child(3),
.div-summary-report table .td > td:nth-child(4),
.div-summary-report table .td > td:nth-child(5),
.div-summary-report table .td > td:nth-child(6),
.div-summary-report table .td > td:nth-child(7) {
    text-align: center;
}

.div-summary-report table td:nth-child(2) {
    text-align: center;
    border-left: transparent !important;
}

.div-summary-report table .td > td:nth-child(10) {
    border-right: solid #cecdcc 1px;
}

.div-summary-report table .td > td {
    border-bottom: solid #cecdcc 1px;
    border-right: solid #cecdcc 1px;
    height: 41px;
    background-color: white;
    padding: 0 10px;
    font-size: 13px;
}

.div-summary-report table .td > td:first-child {
    border-left: solid #cecdcc 1px;
}

.div-summary-report table .td > td:first-child:hover {
    background-color: #dce9ff !important;
}

.grey-td td {
    background-color: #f2f3f8 !important;
}

.div-summary-report table .td > td strong {
    color: #0c558e;
}

.div-summary-report table .td > td i {
    color: #42526e;
    font-style: normal;
}

.div-summary-report table .td > td small {
    font-size: 10px;
}

.matching-score1, .matching-score2 {
    float: left;
    width: 30px;
}

.matching-score2 {
    position: absolute;
    font-size: 9px;
    right: 2px;
    bottom: 2px;
}

.remove_project_note {
    position: absolute;
    bottom: 70px;
    right: 10px;
    left: 30px;
    background-color: #0099cc;
    padding: 10px 10px 5px;
    border-radius: 14px;
    color: white;
    font-size: 13px;
    text-align: center;
}

.remove_project_note a {
    position: static;
    font-size: 14px;
    clear: both;
    display: inline-block;
    padding-top: 10px;
    margin: 0 20px;
}

.remove_project_note:after, .remove_project_note:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.remove_project_note:after {
    border-top-color: #0099cc;
    border-width: 7px;
    margin-left: -7px;
}

.remove_project_note:before {
    border-width: 7px;
    margin-left: -7px;
}

.jp_title em {
    position: absolute;
    top: 13px;
    left: 210px;
    font-size: 12px;
    color: #a1a1a1;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

.jp_title img {
    position: absolute;
    right: 0;
    top: 7px;
}

.word-pdf-view {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 28px solid #0099cc;
    background-color: white;
}

.word-pdf-view iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.word-pdf-view a {
    display: block;
    position: fixed;
    top: 4px;
    right: 4px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    font-family: cursive;
}

.up-btn {
    background-color: #449d44;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    float: left;
    cursor: pointer;
    position: relative;
    line-height: 32px;
    font-size: 13px;
}

.up-btn input {
    position: absolute;
    width: 154px;
    opacity: 1;
    height: 29px;
    left: 0;
}

.block-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10001;
    background-image: url("lib/heyling/white05.png");
}

.block-body img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -17px 0 0 -17px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.q-ac {
    position: absolute;
    border: solid 1px #0a62a2;
    background-color: white;
    margin-top: 41px;
    border-radius: 3px;
    padding: 10px 15px;
    width: 100%;
    max-width: 534px;
    overflow: auto;
    max-height: 119px;
    z-index: 2;
}

.q-ac ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.q-ac li {
    border-bottom: #dedede solid 1px;
    padding: 5px 0;
    cursor: pointer;
}

.q-ac li:last-child {
    border: none;
}

.abs-back {
    position: absolute !important;
    top: 45px;
    left: 70px;
    cursor: pointer;
    background-color: transparent !important;
    border: none !important;
}

.personal-page-one {
    cursor: pointer;
}

.personal-page:hover, .personal-page:hover td {
    background-color: #dce9ff !important;
    cursor: pointer;
}

.groups_add_btn {
    background-image: url("lib/heyling/teams.png"), url(lib/heyling/plus.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 15px center, 165px center;
    display: block;
    margin: 10px 10px 10px 30px;
    padding: 12px 5px 12px 50px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    background-color: #4486b8;
}

.groups_add_btn:hover {
    background-color: #0a5b9a;
}

.add-new-group, .add-new-job-posting {
    color: #0a62a2;
    text-decoration: underline;
    font-weight: 500;
}

.qr-sort {
    display: none;
    background-image: url("lib/heyling/arrow_up.png");
    width: 10px;
    height: 5px;
    margin: 4px;
    position: absolute;
    right: 25px;
    top: 11px;
}

div.jp_form_5 > div.jp_body > div:nth-child(3) a, div.jp_form_6 > div.jp_body > div:nth-child(3) a {
    opacity: 0;
    z-index: 0;
    position: fixed;
    top: -999px;
}

.tab_active {
    border-top: solid #0a62a2 1px;
}

li.jp_header_sl {
    position: relative;
}

li.jp_header_sl dd {
    position: absolute;
    border: solid 1px #0a62a2;
    left: -25px;
    top: 70px;
    border-radius: 3px;
    z-index: 1;
    background-color: white;
    width: calc(90% - 8px);
}

li.jp_header_sl dd a {
    display: block;
    height: 22px;
    padding: 10px 0 0 10px;
}

li.jp_header_sl dd a:hover {
    background-color: #e2e4ea;
}

.active_jms {
    background-color: #e2e4ea;
}

ul.with-scroll > li.team_name > a {
    width: 12px;
    height: 12px;
    background-image: url("lib/heyling/edit-white.png");
    display: block;
    margin: 2px 10px 0 0;
}

.not_it {
    padding: 0;
}

.not_it input {
    border: none;
    width: 182.5px;
    height: 31px;
    border-radius: 3px;
    padding: 0 5px;
}

.not_it x {
    width: 20px;
    height: 20px;
    background-image: url("lib/heyling/create.png");
    display: block;
    position: absolute;
    cursor: pointer;
    top: 6px;
    right: 6px;
    background-repeat: no-repeat;
    background-position: center center;
}

.sel {
    background-color: #e5e7ed;
}

@media only screen and (max-width: 1340px) {
    .edit_jp_header input {
        position: static;
        margin-top: 7px;
    }
}

@media only screen and (max-width: 768px) {
    #left-side {
        left: -235px;
    }

    .main-title {
        padding-left: 0;
    }

    #main-content, .opened-jd {
        left: 68px;
    }

    #left-open-dashboard {
        position: static;
    }

    .welcome-box {
        background-image: none;
    }

    .welcome-box div {
        padding: 0 20px;
    }

    .main-list > div {
        width: 100% !important;
        height: auto;
        margin: 2px 0;
    }

    .main-list > div > div.top-section {
        height: auto;
    }

    .main-list > div > div.top-section > strong {
        display: block;
    }

    .bottom-section {
        height: auto;
        min-height: 28px;
    }

    .bottom-section i {
        margin-bottom: 6px;
    }

    .top-section > div {
        display: table-caption;
    }

    .main-list mail {
        padding-top: 5px;
    }

    .filter-search > a {
        display: none;
    }

    .save_panel {
        width: 100%;
        padding-left: 68px;
    }

    .save_panel .bottom-btn {
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px 5px;
    }

    #main-content {
        padding: 10px;
    }

    .bottom-section i {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 425px) {
    .welcome-box {
        width: 100%;
    }

    .welcome-box div {
        padding: 0 20px 10px;
    }

    .jobs-box {
        width: 49%;
        margin-left: 0;
        margin-top: 2%;
    }

    .applicants-box {
        margin-top: 2%;
        width: 49%;
        margin-left: 2%;
    }

    .jobs-box h3, .applicants-box h3 {
        font-size: 14px;
    }

    .main-filters ul li, .summary-filters ul li {
        display: table-row;
    }

    .filter-search input, .filter-summary-search input {
        width: calc(100% - 22px);
    }
}
