*, *:focus, *:active, *:visited, *:hover {
    outline: none !important;
}

html, body {
    height: 100%;
}

body {
    text-align: center;
    font-family: Arial, sans serif;
}

h6 {
    margin-bottom: 38px;
    font-size: 14px;
    font-weight: bold;
}

p {
    font-size: 12px;
}

.fa {
    color: #da394b;
    font-size: 5px;
    margin: 0 4px;
}

.height-100 {
    height: 100%;
}

.clear-pad {
    padding: 0;
}

.clear-marg {
    margin: 0;
}

.site-wrapper {
    position: relative;
    display: table;
    background-image: url(../../images/bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.site-wrapper .pattern {
    position: absolute;
    right: 0;
    background-image: url(../../images/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 47px;
    height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.content {
    position: relative;
    height: 462px;
    width: 998px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.10);
}

body > div > div > div > img:nth-child(1) {
    position: absolute;
    left: -43px;
    top: -44px;
}

body > div > div > div > img:nth-child(2) {
    position: absolute;
    bottom: -53px;
    left: -54px;
}

body > div > div > div > img:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0
}

.robot-blue {
    display: none;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.signIn {
    width: 282px;
    margin: 0 auto;
    color: #2e4067;
    padding-top: 50px;
    font-size: 12px;
}

.signIn .form-control {
    position: relative;
    height: 36px;
    border-radius: 18px;
    font-size: 12px;
    padding-left: 40px;
    font-weight: bold;
    box-shadow: 0 0 12.68px -3.68px rgba(0, 0, 0, 0.5);
    border: none;
}

.signIn a {
    color: #2e4067;
}

.signIn img {
    position: absolute;
    top: 11px;
    left: 15px;
}

.form-check {
    font-size: 13px;
    text-decoration: none;
    margin: 27px 0;
}

.form-check .form-check-label {
    margin-right: 60px;
}

.form-check-input:only-child {
    position: absolute;
    margin-top: .2rem;
}

.form-check a {
}

.btnLogIn {
    height: 37px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: #da394b;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 14px;
}

.btnLogIn:focus {
    outline: none;
}

.signIn p {
    font-weight: 600;
    display: -moz-inline-block;
}

#signIn > a {
    color: #da394b;
    font-weight: 600;
}

/********************************************************************************/
.sidebar {
    position: absolute;
    left: 0;
    top: 44%;
    border-left: 4px solid red;
    height: 54px;
    padding-top: 8px;
    padding-left: 24px;
}

.sidebar img {
    padding-bottom: 11px;
}

.sidebar p {

}

.sidebar a {
    color: #da394b;
}

.textslice {
    position: relative;
    width: 100%;
    -webkit-padding-after: 455px;
}

.textslice-content {
    position: absolute;
    width: 408px;
    height: 534px;
    right: 0;
    top: -35px;
    background-color: #2e4067;
    border-radius: 6px;
}

.textslice-content .logo {
    width: 202px;
    height: 46px;
    background: url("../../images/logo.png");
    position: absolute;
    top: 32px;
    left: 41px;
}

.textslice-content img {
    position: absolute;
    right: 0;
    top: 8px;
}

.textslice-content .text-content {
    position: absolute;
    width: 235px;
    top: 213px;
    left: 31px;
    color: white;
}

.textslice-content .text-content h4 {
    font-size: 22px;
    font-weight: bold;
}

.textslice-content .text-content p {
    font-size: 16px;
    opacity: 0.7;
    text-align: left;
    padding-left: 3px;
    padding-top: 5px;
}

.textslice-content2 {
    display: none;
}

body > div > div > div > img:nth-child(2) {
    position: absolute;
}

.btnGetStarted {
    height: 37px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: #2e4067;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}

#btn_unS {
    display: block;
    color: white;
    line-height: 37px;
    min-height: 37px;
    height: auto;
    padding: 0 10px;
}

@media only screen and (max-width: 1200px) {
    .content {
        width: 921px;
    }

    .textslice-content {
        width: 370px;
    }
}

@media only screen and (max-width: 1024px) {
    .site-wrapper {
        -webkit-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-width: 992px) {
    .content {
        width: 750px;
    }

    .textslice-content {
        width: 290px;
    }

    .site-wrapper {
        -webkit-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-width: 767px) {
    .hidden-sm-down {
        display: none;
    }

    .content {
        width: 410px;
    }

    .textslice-content2 {
        display: block;
        position: relative;
        width: 100%;
        height: 60px;
        background-color: #2e4067;
        border-top-left-radius: 6px 6px;
        border-top-right-radius: 6px 6px;
    }

    .textslice-content2 img {
        position: absolute;
        width: 19%;
        right: 0;
    }

    .textslice-content2 .logo2 {
        width: 156px;
        height: 44px;
        background: url(../../images/logo.png);
        position: absolute;
        top: 7px;
        left: 10px;
    }

    .textslice-content2 .text-content {
        top: 60px;
        left: 22%;
        color: white;
        margin-top: 35px;
    }

    .textslice-content2 h4 {
        font-size: 20px;
    }

    .textslice-content2 p {
        font-size: 11px;
        opacity: 0.7;
    }

    .signIn {
        padding-top: 20px;
    }

    .signIn h6 {
        margin-bottom: 20px;
    }

    body > div > div > div > img:nth-child(3) {
        width: 18%;
    }
}

@media only screen and (max-width: 576px) {
    .content {
        width: 335px;
    }

    body > div > div > div > img:nth-child(3) {
        width: 20%;
    }

    .textslice-content2 img {
        width: 22%;
    }
}

@media only screen and (max-width: 340px) {
    .content {
        width: 310px;
    }
}

.error-msg {
    height: 30px;
    text-align: center;
    color: #da394b;
}

.error-msg-2 {
    height: 35px;
    text-align: center;
    color: #da394b;
    font-size: 13px;
}

.error-msg-3 {
    height: 30px;
    text-align: center;
    color: #da394b;
}
